@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.circle-mini::before {
  content: '';
  position: absolute;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: #ffa501;
  border-radius: 100%;
}

.circle::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -2%;
  left: 0;
  height: 36px;
  width: 36px;
  box-shadow: 0 0 3px #000;
  border-radius: 100%;
  background: #ffa501;
}

.circle-center::before {
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.underlined::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 60px;
  background: #ffa501;
}

.underlined-center::after {
  left: 50%;
  transform: translateX(-50%);
}

.text-shadow {
  text-shadow: 0 1px 3px #fff;
}

.vertical-stick::after {
  content: '';
  position: absolute;
  top: -63px;
  left: 0;
  background-color: #000;
  width: 1px;
  height: calc(100% + 63px);
}

.horizontal-stick::before {
  content: '';
  height: 1px;
  width: 45px;
  position: absolute;
  top: 14px;
  left: 0;
  background-color: #000;
}

.animation {
  animation-name: grow;
  animation-duration: 3s;
}

@keyframes grow {
  0% {
    width: 0;
  }
}
